:root {
  --primary-color: #c7b198;
  --secondary-color: #f0ece2;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

.hero h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
  font-weight: bold;
}

p,
h2 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  margin: 0;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 30px;
}

.hero p {
  font-size: 26px;
}
.hero h2 {
  color: rgba(64, 59, 59, 0.712);
  font-size: 26px;
}
.hero {
  text-align: center;
  padding: 180px 20px;
  background-color: var(--secondary-color);
}
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  padding: 15px 25px;
  font-size: 19px;
}

.btn-primary:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.btn-custom {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 19px;
  padding: 15px 30px;
}
.btn-custom:hover {
  color: white;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.position {
  margin: 30px 15px 30px 50px;
}
.secondary-position {
  margin-top: 130px;
  margin-right: 45px;
}

.container-page {
  margin: 100px 100px;
}
.container-page h2 {
  font-size: 18px;
  font-weight: bold;
}

.work-page h3 {
  text-align: center;
}
.personal-info {
  margin-top: 40px;
  margin-right: 35px;
}

h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: bold;
}

.work-page p {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}

.contact-page p {
  font-size: 14px;
  line-height: 30px;
}
.active {
  color: var(--primary-color) !important;
}

footer a {
  text-decoration: none;
  font-size: 20px;
  margin: 0 25px;
  color: var(--primary-color);
}

.social-links {
  margin-top: 50px;
  text-align: center;
  text-decoration: none;
}

.email-link a {
  font-size: 24px;
  color: black;
}
.icons a {
  background-color: var(--secondary-color);
  padding: 8px 13px;
  border-radius: 20px;
}
@media (max-width: 900px) {
  .hero h1 {
    font-size: 49px;
  }
  .container h1 {
    font-size: 40px;
  }
  .container {
    text-align: center;
  }
  .secondary-position {
    margin: 0 5px;
  }
  .position {
    margin: 0 5px;
  }
  .container-page img {
    padding-top: 30px;
    border-radius: 3px;
  }
  .container-page {
    text-align: center;
    margin: 50px 0px;
    padding: 0;
  }
  .container-page h1 {
    font-size: 60px;
  }
  .personal-info {
    margin: 10px 15px;
  }
  .work-page {
    margin: 100px 20px;
  }
}
